body{
    background-color: #395144;
    color: #F0EBCE;
}

input{
    height: 30px;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

button{
    border-style: none;
    background-color: #AA8B56;
    width: 150px;
    height: 50px;
    border-radius: 6px;
}
